﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HouseOfBeginners</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-5">
            <div class="container">
                <span><a asp-controller="Home" asp-action="Index"> <img class="logo" src="~/images/logo/cover.png"> </a>
                    <form asp-action="SearchListing" method="POST">
                        <input class="search" type="text" placeholder="Search by location...">
                    </form>
                </span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">



                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    asp-controller="Home" asp-action="Index">
                                    Buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Houses for
                                        Sale..</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Condos for
                                        Sale..</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    asp-controller="Home" asp-action="Index">
                                    Guide
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Guide for Buying
                                        House in Canada</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Guide for Selling
                                        a House in Canada</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    asp-controller="Home" asp-action="Index">
                                    Sell
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Sell with House Of
                                        Beginners..</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Find a Realtor to
                                        sell with..</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    asp-controller="Home" asp-action="Index">
                                    Real Estate
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Review Real Estate
                                        Agent List..</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Index">Sign Up to
                                        Market..</a>
                        </li>

                        <a asp-controller="Home" asp-action="Index"><i class="fa fa-heart-o"
                                aria-hidden="false"></i></a>

                        <a class="btn btn-secondary" type="button" id="loginButton" asp-controller="Home"
                            asp-action="Login"> Login </a>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* add footer here *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
