﻿@{
    ViewData["Title"] = "Home Page";
}

<html>

<body>

    <h3>Location Real Estate</h3>
    <h7 class="heading">View up-to-date MLS® listings in Location</h7>

    <section>

        @* replace href with asp-action *@
        <div class="property_container1">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic1.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
            <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container2">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic2.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container3">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic3.jpeg" alt="" class="property_img">
            </a>
           <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container4">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic4.jpeg" alt="" class="property_img">
            </a>
           <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container5">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic5.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container6">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic6.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container7">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic7.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container8">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic8.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container9">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic9.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container10">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic10.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container11">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic11.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container12">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic12.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container13">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic13.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container14">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic14.jpeg" alt="" class="property_img">
            </a>
           <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container15">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic15.jpeg" alt="" class="property_img">
            </a>
           <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

        <div class="property_container16">
            <a href="#" class="property_item">
                <img src="~/images/PropImages/pic16.jpeg" alt="" class="property_img">
            </a>
            <span class="price_heart">
                <h5 class="price">698,800</h5> 
                <h5 class="heart">heart</h5>
                 <h6 class="propAttributes">2+1 bed 2 bath 1000-1199 sqft</h6>
            <h7 class="address"># Curran Place, Mississauga, ON • City Centre</h7>
             <h8 class="MLS">MLS® W5426298</h8>
            </span>
        </div>

    </section>

</body>

</html>