@* @model *@
<html>
<body>

<h2>Login Page</h2>
    @* asp-action="CheckLogin" method="POST" *@
<form>
    <div class="form-group">
        @* asp-for="Email" *@
        <label >Email</label>
        <input type="email" class="form-control">
    </div>

      <div class="form-group">
          @* asp-for="Password" *@
        <label >Password</label>
        <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br></br><br></br><br></br>
<a asp-action="Signup"><p>Click here to register with HOB!</p></a>
</body>
</html>