<h2>Sign Up Page</h2>

<form>

    <div class="form-group">
        <label >Your First Name</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label >Your Last Name</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label >Email</label>
        <input type="Email" class="form-control">
    </div>

    <div class="form-group">
        <label >Phone Number</label>
        <input type="phonenumber" class="form-control">
    </div>

    <div class="form-group">
        <label >Password</label>
        <input  type="password" class="form-control">
    </div>

    <div class="form-group">
        <label >Confirm Password</label>
        <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
</form>