﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    padding:0;
}

section {
    padding: 3em 2em;
}

section div {
  display: inline;
}
.property_container1 {
  width:33%;
  float: left;
}
.property_container2 {
  width:33%;
  float: right;
}
.property_container3 {
  width:33%;
  float: right;
}
.property_container4 {
  width:33%;
  float: left;
}

.property_container5 {
  width:33%;
  float: right;
}

.property_container6 {
  width:33%;
  float: right;
}

.property_container7 {
  width:33%;
  float: left;
}

.property_container8 {
  width:33%;
  float: right;
}

.property_container9 {
  width:33%;
  float: right;
}

.property_container10 {
  width:33%;
  float: left;
}

.property_container11 {
  width:33%;
  float: right;
}

.property_container12 {
  width:33%;
  float: right;
}

.property_container13 {
  width:33%;
  float: left;
}

.property_container14 {
  width:33%;
  float: right;
}

.property_container15 {
  width:33%;
  float: right;
}

.property_container16 {
  width:33%;
  float: left;
}

.property_img {
  height: 270px;
  width: 300px;
}

.navbar-nav.flex-grow-1 {
  margin-right: 100px;
}

.fa.fa-heart-o {
  margin-top: 14.5px;
  margin-left: 8px;
  margin-right: 8px;
  color:#3EE09B;
}

.price_heart {
  display: inline;
}

.price {
  width: 33%;
  float: left;
}

.heart {
  width:33%;
  float: right;
}

.propAttributes {
 float:left;
}
.address {
  float: left; 
}
.MLS{
  float: left;
  margin-top: 4px;
  margin-bottom: 18px;
}

.btn {
  margin: 3px; 
  background-color: #3EE09B;
  color: #0067ee;
  
}

.search{
  float: left;
  margin-top:3%;
  margin-left: 2%;
}

.logo{
  float: left;
  width: 27%;
  height: 8%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


